absl-py==1.2.0
aiohttp==3.8.3
aiosignal==1.3.1
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
bokeh==2.4.3
boltons==21.0.0
Brotli==1.0.9
cached-property==1.5.2
cachetools==5.2.0
certifi==2022.9.14
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
cloudpickle==2.1.0
cmake==3.26.3
colorama==0.4.5
colorcet==3.0.0
commonmark==0.9.1
conda-pack==0.6.0
contextlib2==21.6.0
cycler==0.11.0
dash==2.6.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2022.5.2
debugpy==1.6.3
decorator==5.1.1
DeepXDE==1.9.1
defusedxml==0.7.1
dill==0.3.6
dm-sonnet==1.35
dm-tree==0.1.7
einops==0.6.0
entrypoints==0.4
etils==0.7.1
executing==1.0.0
fastdtw==0.3.4
fastjsonschema==2.16.1
fenics==2019.1.0
fenics-dijitso==2019.1.0
fenics-dolfin==2019.1.0
fenics-ffc==2019.1.0
fenics-fiat==2019.1.0
fenics-ufl==2019.1.0
filelock==3.8.0
Flask==2.2.2
Flask-Compress==1.12
flatbuffers==2.0.7
fonttools==4.33.3
frozenlist==1.3.3
fsspec==2022.5.0
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.4.0
gmpy2==2.1.2
google-auth==2.11.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graph-nets==1.1.0
graphpdes==0.0.1
grpcio==1.48.1
h5py==3.7.0
HeapDict==1.0.1
holoviews==1.14.9
huggingface-hub==0.10.1
idna==3.3
imageio==2.19.3
imageio-ffmpeg==0.4.9
importlib-metadata==4.11.4
importlib-resources==5.9.0
ipykernel==6.15.2
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
itsdangerous==2.1.2
jax==0.3.14
jax-cfd==0.2.0
jaxlib==0.3.14+cuda11.cudnn82
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.10
jsonschema==4.15.0
jupyter==1.0.0
jupyter_client==7.3.5
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter-server==1.23.2
jupyterlab==3.5.0
jupyterlab-pygments==0.2.2
jupyterlab_server==2.16.3
jupyterlab-widgets==3.0.3
kaleido==0.1.0
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
libclang==14.0.6
lightning-utilities==0.6.0.post0
lit==16.0.3
locket==1.0.0
loguru==0.6.0
lxml==4.9.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.6
mistune==2.0.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
more-itertools==8.13.0
motuclient==1.8.4
mpi4py==3.1.4
mpmath==1.2.1
mshr==2019.1.0
multidict==6.0.4
multiprocess==0.70.14
natsort==8.2.0
nbclassic==0.4.8
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.2
notebook==6.4.12
notebook_shim==0.2.2
numpy==1.22.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.0
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
panel==0.13.1
param==1.12.1
parso==0.8.3
partd==1.2.0
path==16.4.0
path.py==12.5.0
pathos==0.3.0
patsy==0.5.3
petsc4py==3.17.4
pexpect==4.8.0
phiflow==2.2.1
pickleshare==0.7.5
Pillow==9.1.0
pip==22.0
piq==0.7.1
piqa==1.3.0
pkgconfig==1.5.5
plotly==5.10.0
pox==0.3.2
ppft==1.7.6.6
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==3.19.4
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
pyaml==23.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.10.0
pybind11-global==2.10.0
pycparser==2.21
pyct==0.4.8
pyDOE==0.3.8
pyevtk==1.5.0
Pygments==2.12.0
PyGSP==0.5.1
pyparsing==3.0.8
pyrsistent==0.18.1
python-dateutil==2.8.2
python-forge==18.6.0
pytorch-lightning==1.9.0
pytorch-wavelets==1.3.0
pytz==2022.1
pyviz-comms==2.2.0
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==23.2.1
qtconsole==5.3.2
QtPy==2.2.0
requests==2.27.1
requests-oauthlib==1.3.1
rich==12.5.1
rsa==4.9
SciencePlots==2.1.0
scikit-fdiff==0.7.0
scikit-fem==8.0.0
scikit-image==0.18.3
scikit-learn==1.0.2
scikit-learn-extra==0.2.0
scikit-optimize==0.9.0
scipy==1.8.0
seaborn==0.12.0
semantic-version==2.10.0
Send2Trash==1.8.0
setuptools==63.4.1
six==1.16.0
slepc4py==3.17.2
sniffio==1.3.0
soupsieve==2.3.2.post1
sourceinspect==0.0.4
stack-data==0.5.0
statsmodels==0.13.2
streamz==0.6.3
sympy==1.11.1
tabulate==0.8.10
taichi==1.0.4
tenacity==8.0.1
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-gpu==2.10.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-probability==0.17.0
termcolor==1.1.0
terminado==0.15.0
texttable==1.6.4
threadpoolctl==3.1.0
tifffile==2023.4.12
timm==0.6.11
tinycss2==1.1.1
tomli==2.0.1
toolz==0.11.2
torch==1.11.0+cu113
torch-cluster==1.6.0
torch-geometric==2.2.0
torch-scatter==2.0.9
torch-sparse==0.6.13
torch-spline-conv==1.2.1
torchaudio==0.11.0+cu113
torchdiffeq==0.2.3
torchmetrics==0.11.1
torchsummary==1.5.1
torchvision==0.12.0+cu113
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
tree-math==0.1.0
triton==2.0.0
typing_extensions==4.2.0
UFL==2017.1.0
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.2.2
wheel==0.37.1
widgetsnbextension==4.0.3
wrapt==1.14.1
xarray==2022.3.0
yarl==1.8.2
zict==2.2.0
zipp==3.8.0
